* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: $secondary-color;
    background-color: $white-color;
    // color: $white-color;
    // background-color: $secondary-color;
    font-family: "Raleway", sans-serif;
}

.container {
    width: 80%;
    max-width: 1280px;
    margin: auto;
    overflow: hidden;

    @media screen and (max-width: 768px) {
        width: 90%;
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Night Light Toggle Button Styles */
.night-light-toggle-button {
    .night-light-checkbox {
        position: absolute;
        visibility: hidden;

        &:checked+.night-light-label .night-light-ball {
            transform: translateX(28px);
        }
    }

    .night-light-label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 64px;
        height: 32px;
        background-color: rgb(18, 18, 25);
        color: $white-color;
        padding: 4px 6px;
        border-radius: 64px;
        cursor: pointer;

        .fa-moon,
        .fa-sun {
            font-size: 20px;
        }

        .night-light-ball {
            display: inline-block;
            position: absolute;
            width: 25px;
            height: 25px;
            background-color: $primary-color;
            border-radius: 50%;
            transition: transform 0.3s linear;
        }
    }
}

/* Menu Toggle Button Styles */
.hamburger-menu-button {
    height: 32px;
    width: 32px;
    cursor: pointer;

    .fa-bars {
        font-size: 32px;
    }
}

/* Typography Styles */
.extra-large-text {
    font-size: $extra-large-font;

    @media screen and (max-width: 768px) {
        font-size: $large-font;
    }
}

.large-text {
    font-size: $large-font;

    @media screen and (max-width: 768px) {
        font-size: $medium-font;
    }
}

.medium-text {
    font-size: $medium-font;

    @media screen and (max-width: 768px) {
        font-size: $regular-font;
    }
}

.regular-text {
    font-size: $regular-font;

    @media screen and (max-width: 768px) {
        font-size: $small-font;
    }
}

.small-text {
    font-size: $small-font;
}

.primary-text {
    color: $primary-color;
}

.secondary-text {
    color: $secondary-color;
}

.bold-text {
    font-weight: bold;
}