* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Mono", monospace;
    // font-family: "Raleway", sans-serif;
    line-height: 1.6;
    outline: none;
}

.container {
    width: 80%;
    max-width: 1280px;
    margin: auto;
    overflow: hidden;

    @media screen and (max-width: 768px) {
        width: 90%;
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.no-display {
    display: none;
}

/* Dark Mode Toggle Button Styles */
.dark-mode-toggle-button {
    .dark-mode-checkbox {
        position: absolute;
        visibility: hidden;

        &:checked+.dark-mode-label {
            background-color: $white-color;
            color: $black-color;

            .dark-mode-ball {
                transform: translateX(28px);
            }
        }
    }

    .dark-mode-label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 64px;
        height: 32px;
        color: $white-color;
        padding: 4px 6px;
        border-radius: 64px;
        cursor: pointer;

        .fa-moon,
        .fa-sun {
            font-size: 20px;
        }

        .dark-mode-ball {
            display: inline-block;
            position: absolute;
            width: 25px;
            height: 25px;
            background-color: $primary-color;
            border-radius: 50%;
            transition: transform 0.3s linear;
        }
    }
}

/* Typography Styles */
.extra-large-text {
    font-size: $extra-large-font;

    @media screen and (max-width: 768px) {
        font-size: $large-font;
    }
}

.large-text {
    font-size: $large-font;

    @media screen and (max-width: 768px) {
        font-size: $medium-font;
    }
}

.medium-text {
    font-size: $medium-font;

    @media screen and (max-width: 768px) {
        font-size: $regular-font;
    }
}

.regular-text {
    font-size: $regular-font;

    @media screen and (max-width: 768px) {
        font-size: $small-font;
    }
}

.small-text {
    font-size: $small-font;
}

.primary-text {
    color: $primary-color;
}

.bold-text {
    font-weight: bold;
}

.raleway-font {
    font-family: "Raleway", sans-serif;
}

/* Themes Styles */
.bg-dark {
    background-color: $secondary-color;
}

.bg-light {
    background-color: $white-color;
}

.light-text {
    color: $white-color;
}

.dark-text {
    color: $black-color;
}