/* Typography */
$extra-large-font: 3.5rem;
$large-font: 3rem;
$medium-font: 2rem;
$regular-font: 1.25rem;
$small-font: 1rem;

/* Color Schemes */
$primary-color: #b92b27;
$secondary-color: #121219;
$white-color: white;
$black-color: black;
$grey-color: #cecfce;