/* Typography */
$extra-large-font: 56px;
$large-font: 48px;
$medium-font: 32px;
$regular-font: 20px;
$small-font: 16px;

/* Color Schemes */
$primary-color: rgb(160, 10, 10);
$secondary-color: rgb(18, 18, 25);
$white-color: white;