/* Typography */
$extra-large-font: 56px;
$large-font: 48px;
$medium-font: 32px;
$regular-font: 20px;
$small-font: 16px;

/* Color Schemes */
$primary-color: #b92b27;
$secondary-color: #121219;
$white-color: white;
$black-color: black;
$grey-color: #cecfce;