@import './_variables';
@import './_common';

header {

    /* Top Navbar Styles */
    .top-navbar {
        height: 88px;

        &>.container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .icon {
            font-size: $large-font;
            font-weight: bold;
            padding: 0.5rem 0;
            cursor: pointer;
        }

        .nav-items {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .nav-item {
                margin-left: 16px;
            }
        }

        .hamburger-menu-button {
            height: 32px;
            width: 32px;
            cursor: pointer;

            .fa-bars {
                font-size: 32px;
            }

            &:hover {
                color: $primary-color;
            }
        }

        .menu-options {
            position: absolute;
            top: 88px;
            right: 10%;
            z-index: 1;
            width: 180px;
            height: 316px;
            padding: 8px 0;
            opacity: 0.9;

            &:hover {
                display: block;
            }

            @media screen and (max-width: 768px) {
                right: 5%;
            }

            .menu-option {
                font-size: $small-font;
                padding: 12px 20px;
                cursor: pointer;

                &:hover {
                    font-weight: bold;
                    color: $primary-color;
                    transform: translateX(10%);
                    transition: all 0.3s linear;
                }
            }
        }
    }

    /* Hero Section Styles */
    #hero {
        position: relative;
        height: 560px;
        overflow: hidden;

        @media screen and (max-width: 768px) {
            height: 520px;
        }

        &>.container {
            height: 500px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media screen and (max-width: 768px) {
                text-align: center;
                width: 90%;
            }

            .hero-bio {
                margin-top: 48px;

                .more-info {
                    font-weight: bold;
                    padding: 12px;
                    border: 2px solid $grey-color;
                    cursor: pointer;

                    &:hover {
                        border: 2px solid $primary-color;

                        .fa-angle-down {
                            color: $primary-color;
                        }
                    }
                }
            }

            .hero-footer {
                margin-bottom: 28px;

                .social-links {
                    font-weight: bold;
                    font-size: $large-font;

                    .link {
                        padding: 8px 12px;
                        cursor: pointer;

                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }
        }

        img {
            position: absolute;
            z-index: -1;
            top: -6%;
            right: -12%;
            width: 38%;
            height: auto;
            max-height: 300%;
            border-radius: 50%;
            opacity: 0.9;

            @media screen and (max-width: 768px) {
                top: -12%;
                right: -25%;
                width: 125%;
                border-radius: 0;
                opacity: 0.1;
            }

            @media screen and (min-width: 2160px) {
                display: none;
            }
        }
    }
}

main {
    #about-me {
        padding: 16px 0;

        .figure {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            @media screen and (max-width: 768px) {
                flex-direction: column;
            }

            .avatar {
                width: 25%;
                text-align: center;

                img {
                    width: 80%;
                    height: 80%;
                    min-height: 100px;
                    border-radius: 50%;
                    border: 3px solid $primary-color;
                }

                @media screen and (max-width: 768px) {
                    width: 90%;
                    margin: auto;

                    img {
                        width: 50%;
                        height: 50%;
                    }
                }
            }

            .intro {
                width: 70%;
                text-align: justify;
                text-justify: inter-word;

                @media screen and (max-width: 768px) {
                    width: 90%;
                    margin: auto;
                }
            }
        }
    }
}