@import './_variables';
@import './_common';

header {

    /* Top Navbar Styles */
    .top-navbar {
        height: 88px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        transition: background-color 0.5s ease;

        &>.container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .icon {
            font-size: $large-font;
            font-weight: bold;
            padding: 0.5rem 0;
            cursor: pointer;
        }

        .nav-items {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .nav-item {
                margin-left: 1rem;
            }
        }

        .hamburger-menu-button {
            height: 2rem;
            width: 2rem;
            cursor: pointer;

            .fa-bars {
                font-size: 2rem;
            }

            &:hover {
                color: $primary-color;
            }
        }

        .menu-options {
            position: absolute;
            top: 88px;
            right: 10%;
            z-index: 1;
            width: 200px;
            height: 316px;
            padding: .5rem 0;
            opacity: 0.9;

            @media screen and (max-width: 768px) {
                right: 5%;
            }

            .menu-option {
                font-size: $small-font;
                padding: .75rem 1.25rem;
                cursor: pointer;

                &:hover {
                    font-weight: bold;
                    color: $primary-color;
                    transform: translateX(10%);
                    transition: all 0.3s linear;
                }
            }
        }
    }

    /* Hero Section Styles */
    #hero {
        position: relative;
        height: 560px;
        margin-top: 88px;
        overflow: hidden;

        @media screen and (max-width: 768px) {
            height: 520px;
        }

        &>.container {
            height: 500px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media screen and (max-width: 768px) {
                text-align: center;
                width: 90%;
            }

            .hero-bio {
                margin-top: 3rem;
            }

            .hero-footer {
                margin-bottom: 2rem;

                .social-links {
                    font-weight: bold;
                    font-size: $large-font;

                    .link {
                        padding: 0.5rem 0.75rem;
                        cursor: pointer;

                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }
        }

        img {
            position: absolute;
            z-index: -1;
            top: -6%;
            right: -12%;
            width: 38%;
            height: auto;
            max-height: 300%;
            border-radius: 50%;
            opacity: 0.9;

            @media screen and (max-width: 768px) {
                top: -12%;
                right: -25%;
                width: 125%;
                border-radius: 0;
                opacity: 0.1;
            }

            @media screen and (min-width: 2160px) {
                display: none;
            }
        }
    }
}

main {

    /* About Me Section Styles */
    #about-me {
        padding: 5rem 0 0 0;

        .figure {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            @media screen and (max-width: 768px) {
                flex-direction: column;
            }

            .avatar {
                width: 25%;
                text-align: center;

                img {
                    width: 80%;
                    height: 80%;
                    min-height: 100px;
                    border-radius: 50%;
                    border: 3px solid $primary-color;
                }

                @media screen and (max-width: 768px) {
                    width: 90%;
                    margin: auto;

                    img {
                        width: 50%;
                        height: 50%;
                    }
                }
            }

            .intro {
                width: 70%;
                text-align: justify;
                text-justify: inter-word;

                @media screen and (max-width: 768px) {
                    width: 90%;
                    margin: auto;
                }
            }
        }
    }

    #skills {
        padding: 5rem 0 0 0;

        .tech-icons {
            width: 80%;
            margin: 0 auto 1rem auto;
            font-size: $large-font;
            text-align: center;

            .fa-html5 {
                color: #E34F26;
            }

            .fa-css3-alt {
                color: #1572B6;
            }

            .fa-sass {
                color: #ce6b9e;
            }

            .fa-js {
                color: #F7DF1E;
            }

            .fa-react {
                color: #61DAFB;
            }

            .fa-angular {
                color: #dd1b16;
            }

            .fa-node-js {
                color: #339933;
            }

            .fa-database {
                color: #47A248;
            }

            .fa-git-alt {
                color: #F05032;
            }

            .graphql-icon {
                width: 2.5rem;
                height: 2.5rem;
                align-self: baseline;
            }

            .pwa-icon {
                width: 3.5rem;
                height: 2.5rem;
                align-self: baseline;
            }
        }

        .progress-bars {
            width: 55%;
            margin: auto;

            &>p {
                padding: 0.25rem 0;
            }

            .progress-bar {
                width: 100%;
                height: 0.5rem;
                background-color: $grey-color;
                border-radius: 3px;
                margin-bottom: 1rem;

                .progress {
                    height: 100%;
                    background-color: $primary-color;
                    border-radius: 3px;
                }

                .percent90 {
                    width: 90%;
                }

                .percent85 {
                    width: 85%;
                }

                .percent80 {
                    width: 80%;
                }

                .percent75 {
                    width: 75%;
                }

                .percent70 {
                    width: 70%;
                }
            }

            @media screen and (max-width: 768px) {
                width: 90%;
            }
        }
    }

    /* Portfolio Section Styles */
    #portfolio {
        padding: 5rem 0 0 0;

        .project-figure {
            display: flex;
            justify-content: space-between;
            margin-bottom: 3.5rem;

            @media screen and (max-width: 768px) {
                flex-direction: column;
            }

            .project-image {
                width: 30%;
                text-align: center;

                img {
                    width: 80%;
                }

                .links-to-project {
                    display: flex;
                    justify-content: space-around;
                    margin-bottom: 1rem;

                    a {
                        cursor: pointer;
                        margin-right: 1rem;

                        &:hover {
                            color: $primary-color;
                        }
                    }
                }

                @media screen and (max-width: 768px) {
                    width: 90%;
                    margin: auto;
                }
            }

            .project-intro {
                width: 70%;
                text-align: justify;
                text-justify: inter-word;
                padding-left: 1rem;
                border-left: 1.5px solid $primary-color;
                border-radius: 0.4rem;

                .project-heading {
                    @extend .primary-text;
                    @extend .raleway-font;
                    @extend .regular-text;
                    @extend .bold-text;

                    @media screen and (max-width: 768px) {
                        text-align: center;
                    }
                }

                .tech-stack {
                    display: flex;
                    justify-content: flex-start;
                    flex-wrap: wrap;

                    .technology {
                        @extend .bold-text;
                        background-color: $grey-color;
                        color: $secondary-color;
                        padding: 0.25rem 0.5rem;
                        margin: 0.5rem 0.5rem 0.5rem 0;
                        box-shadow: 0 2px 2px -4px black;
                    }
                }

                @media screen and (max-width: 768px) {
                    width: 90%;
                    margin: auto;
                    border-left: none;
                }
            }
        }

        .show-more-container {
            text-align: center;
            margin-bottom: 2rem;
        }
    }

    /* Work Experience Section Styles */
    #work-experience {
        padding: 5rem 0 0 0;

        .work-figure {
            display: flex;
            justify-content: space-between;
            margin-bottom: 3.5rem;

            @media screen and (max-width: 768px) {
                flex-direction: column;
            }

            .designation-time {
                position: relative;
                width: 30%;
                padding: 1rem 2rem 0 0;
                text-align: right;

                .fa-briefcase {
                    position: absolute;
                    top: 10%;
                    right: -1.1rem;
                    padding: .5rem;
                    border-radius: 50%;

                    @media screen and (max-width: 768px) {
                        position: absolute;
                        top: 20%;
                        right: auto;
                        left: -1.1rem;
                    }
                }

                @media screen and (max-width: 768px) {
                    padding: 1rem 0 0 2rem;
                    text-align: left;
                    border-left: 1.5px solid $primary-color;
                    border-top-left-radius: 0.4rem;
                }

                .time-period {
                    @extend .bold-text;
                    background-color: $grey-color;
                    color: $secondary-color;
                    padding: 0.25rem 0.5rem;
                    margin: 0.5rem 0;
                    box-shadow: 0 2px 2px -4px black;
                    margin-bottom: 1rem;
                }

                @media screen and (max-width: 768px) {
                    width: 90%;
                    margin: auto;
                }
            }

            .work-details {
                width: 70%;
                padding: 1rem 0 1rem 2rem;
                text-align: justify;
                text-justify: inter-word;
                border-left: 1.5px solid $primary-color;
                border-radius: 0.4rem;

                .organization {
                    @extend .primary-text;
                    @extend .raleway-font;
                    @extend .regular-text;
                    @extend .bold-text;
                }

                @media screen and (max-width: 768px) {
                    width: 90%;
                    margin: auto;
                    padding: 0 0 1rem 2rem;
                    border-left: 1.5px solid $primary-color;
                    border-radius: 0;
                    border-bottom-left-radius: 0.4rem;
                }
            }
        }
    }
}